<h1><%= @book.title %></h1>

by: <%= @book.author %>

<h2>Reviews</h2>
<% @book.reviews.each do |review| %>
    <li><%= review.user.username %>  -  <%= review.rating %>  -  "<%= review.title %>"</li>
    
    <% end %>